#main-navbar {
  overflow: hidden;
  background-color: blue;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
}
#navbar-container ul li {
  float: left;
  position: relative;
  display: block;
}
#navbar-container ul li a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}